@import "../../styles/base.scss";

.badge {
  border-radius: 8px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;

  @include for-size(l) {
    margin: 0;
  }
}

.badge__header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: $color-secondary;

  & img {
    object-fit: contain;
    padding: 8px 0;
    box-sizing: border-box;
  }
}

.badge__avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.badge__section-name {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em 0;
}

.badge__section-info {
  padding: 0.5em 2em;
  width: 100%;
  box-sizing: border-box;
  background-color: #ebebeb;
  text-align: center;
}
