@import "./variables/colors-theme";
@import "./variables/layout";
@import "./variables/typography";

body {
  background-color: $color-white;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}

.btn--primary {
  padding: 0.5em 1em;
  margin: 1.2em 0;
  height: 42px;
  min-width: 64px;
  background-color: $color-primary;
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  color: white;
  text-decoration: none;
}
