@import "./variables/colors-theme";
@import "./variables/layout";
@import "./variables/typography";

body {
  background-color: $color-white;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}

.btn {
  padding: 0.8em 1em;
  margin: 1.2em 0;
  min-width: 64px;
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  color: white;
  text-decoration: none;

  &--primary {
    background-color: $color-primary;
  }
  &--terciary {
    background-color: $color-terciary;
  }
  &--full-width {
    width: 100%;
  }
}
