@import "../../styles/base.scss";

.home {
  &__background {
    background-image: url("https://i.pinimg.com/originals/cc/4e/01/cc4e012fc8d96cbe52d99dd863743823.jpg");
    background-size: cover;
    min-width: 100vw;
    min-height: calc(100vh - 52px);
    padding-top: 2em;
    background-position: center;
    box-sizing: border-box;

    @include for-size(l) {
      padding-top: 8em;
    }
  }

  &__decoration {
    grid-column: 1/-1;
    margin-bottom: 2em;

    & img {
      object-fit: contain;
      width: 100%;
    }

    @include for-size(s) {
      grid-column: 2/4;
    }

    @include for-size(m) {
      grid-column: 4/10;
    }

    @include for-size(l) {
      grid-column: 1/7;
    }
  }

  &__check-in {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @include for-size(l) {
      grid-column: 7/-1;
      justify-content: center;
    }

    & > h3 {
      font-weight: bold;
      text-shadow: 2px 2px #000;
    }
  }
}
