@import "../../styles/base.scss";

.navbar {
  width: 100%;
  background-color: $color-secondary;
  height: 52px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  & img {
    height: inherit;
    padding: 8px 1em 8px 2em;
    box-sizing: border-box;
  }

  & p {
    color: $color-white;
  }

  & span {
    font-weight: bold;
    color: $color-primary;
  }
}
