@import "../../styles/base.scss";

.navbar {
  width: 100%;
  background-color: $color-secondary;
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 2em;
  box-sizing: border-box;
}

.navbar img {
  height: inherit;
  padding: 8px 0;
  box-sizing: border-box;
}

.navbar__hero {
  background-color: $color-secondary;
  width: 100%;
  height: 36vh;
}

.navbar__hero--image {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
