@import "../../styles/base.scss";

.BadgeNew {
  &__badge {
    grid-column: 1/-1;
    margin-bottom: 2em;

    @include for-size(m) {
      grid-column: 3/11;
    }

    @include for-size(l) {
      grid-column: 1/5;
    }
  }

  &__badgeForm {
    grid-column: 1/-1;

    @include for-size(m) {
      grid-column: 3/11;
    }

    @include for-size(l) {
      grid-column: 8/-1;
    }
  }

  &__grid {
    @include for-size(l) {
      margin-top: -8em !important;
    }
  }
}
